
<%- include("partials/head.ejs") %>

    <%- include("partials/header.ejs") %>
    <main>
        <h1><%= about %></h1>
        <form action="" id="getProductos-form">
            <div>
            <label for="idProd" id="label-idProd">ID del producto</label>
            <hr>
            <input type="number" name="idProd" id="idProd" min="1" class="inTransColor">
            </div>
            <input type="submit" id="boton-consultar" value="Consultar">
        </form>
        
        <section id="contenedor-productos" class="cont-prod-cons">
            <ul id="listadoProductos"></ul>
            <div id="contenedorMensaje"></div>
        </section>
    </main>
    
    <script src="js/consultar.js">


        
    </script>
</body>
</html>