<%- include("partials/head.ejs") %>

    <%- include("partials/header.ejs") %>

    <main>
        <h1>Crear producto</h1>
        <form id="altaProductos-form" style="display: flex; flex-direction: column;">
            <div>
            <label for="nombre">Nombre</label>
            <input type="text" name="nombre" id="nombre" class="inTransColor" required>
            </div>
            <div>
                <label id="dropArea" class="drop-zone">
                    <p class="drop-text">Arrastra un archivo aquí o <span>explora</span></p>
                    <p class="drop-subtext">Tamaño máximo: 5MB</p>
                    <input type="file" id="fileInput" name="image" />
                </label>

                <div class="file-preview" id="filePreview">
                    <div id="fileName">Archivo: </div>
                </div>
            </div>
            <div>
            <label for="catProducto">Categoria</label>
            <select name="categoria" id="catProducto" class="inTransColor" required>
                <option value="digital">DIGITAL</option>
                <option value="fisico">FISICO</option>
            </select>
            </div>
            <div>
            <label for="precioProdForm">Precio</label>
            <input type="number" name="precio" id="precioProdForm" class="inTransColor" required>
            </div>
            <input type="submit" value="Crear producto" id="boton-creaProd">
        </form>
        <section id="cont-mensaje-creado">
        </section>
        <section id="contenedor-productos"></section>
    </main>

    <script src="js/crear.js">
        
    </script>
</body>
</html>