<%- include("partials/head.ejs") %>

    <%- include("partials/header.ejs") %>


    <main>
        <h1>Eliminar producto por ID</h1>
        <form action="" id="getProductos-form">
            <label for="idProd">ID del producto</label>
            <input type="number" name="idProd" id="idProd" min="1">

            <input type="submit" value="Consultar">
        </form>
        <section id="contenedor-productos">
            <ul id="listadoProductos"></ul>
        </section>
        <section id="contMensajeCreado">
        </section>
    </main>

    <script src="js/eliminar.js">
        

        
    </script>
</body>
</html>