<%- include("partials/head.ejs") %>

    <%- include("partials/header.ejs") %>

    <main>
        <h1>Modificar producto por ID</h1>
        <form action="" id="getProductos-form">
             <div>
            <label for="idProd" id="label-idProd">ID del producto</label>
            <input type="number" name="idProd" id="idProd" min="1" class="inTransColor">
            </div>
            <input type="submit" id="boton-consultar" value="Consultar">
        </form>
        <section id="contenedor-productos">
            <ul id="listadoProductos"></ul>
        </section>
        <div id="contenedorFormulario">
        </div>
        <section id="contMensajeCreado">
        </section>
    </main>

    <script src="js/modificar.js">
        

        
    </script>
</body>
</html>